@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
body {
    margin: 0;
    padding: 0;
}

.navbar .nav-item:hover {
    height: 100%;
     background-color:  #04AA6D !important;
     border-radius: 8px;
 }
 .navbar .nav-link:hover{
   color:aliceblue;
 }

.carousel-caption p {
    color: black;
    font-size: 20px;
    font-weight: 500;
}

.carousel-caption h2 {
    color: black;
}
.underlines{
    content: '';
    height: 4px;
    width: 100%;
    margin-top: 20px;
    background: linear-gradient(to right, #0113af 0%, #04bb4a 100%);
    
    } 

/*services */
.service1{
   
    text-align: center;
    border-radius: 25px;
    padding: 20px;
}
.bottom_border_heading{
    color: rgb(2, 2, 43);
}
.service1 h5{
    color:rgb(2, 2, 43)
}
.service1 p{
    color:rgb(47, 136, 69)
}
.service1 button{
    background-color:  rgb(2, 2, 43);
    color: white;
}
.service1 button:hover{
    background-color: rgb(47, 136, 69);
    color: white;
}

/* who we are*/
.team-goals {
    padding-top: 40px;
}
.featurette .lead{
    text-align: justify;
}

@media screen and (max-width: 750px) {
    
}


